table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
  min-width:200px;
  width:100%;
}

#wrapper {
	width:100%;
	min-height:200px;
	margin:0 auto;
	text-align:center;
	max-width:900px;
}

.website_name {
	font-size:25px;
}

.up {
	color:green;
}

.down {
	color:red;
}

.imgup {
	display:none;
	margin:0 auto;
	width:150px;
}
		
.imgdown {
	display:none;
	margin:0 auto;
	width:150px;
}

#statusimg {
	margin-bottom:20px;
}

#bottomtimer {
	position: fixed;
    bottom: 0;
    width: 100%;
	text-align:center;
	padding-bottom:10px;
}


